body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Add this to position the credits absolutely */
  height: 100vh;
  flex-direction: column;
  background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  margin: 0; /* Remove default margin */
}

hr {
    border: none;           /* Remove the default border */
    height: 2px;            /* Set the thickness of the line */
    background-color: white;/* Make the hr appear white */
    width: 50%;             /* Modern UI often uses less than full-width lines */
    margin: 20px auto;      /* Center the hr and give some vertical space */
}


.github-link {
  text-decoration: underline;
  color: blanchedalmond;
}


.header {
  color: antiquewhite;
  font-size: 8em;
  margin-bottom: 10px;
}

.credits {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  margin: 10px;
  color: cornsilk;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.content {
  text-align: center;
  color: antiquewhite;
  font-size: 2em;
}

.error {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  font-size: 3em;
}

.info {
  text-align: center;
  color: antiquewhite;
  font-size: 1.4em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: #f8b400;
  color: #fff;
  text-decoration: none;
  border: 2px solid #d89e00;
  border-radius: 5px;
}

.image-container {
  max-width: 1000px;
  max-height: 1000px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transform: scale(1);
}