http {
	server_timeout_time       10000
	server {
		index                   index.html
		server_name             bitch
		listen                  8082
		root                    www
		keepalive_timeout		21
		send_timeout			21
		max_body_size           100
		directory_listing       true
		location / {
			request_types       GET POST DELETE
		}
		location /pages {
			request_types       GET POST DELETE
		}
	}
#	server {
#		index                   index3.html
#		server_name             127.0.0.1
#		listen                  8082
#		root                    www
#		keepalive_timeout		22
#		send_timeout			22
#		max_body_size           100
#		directory_listing       false
#		location / {
#			request_types       GET POST
#		}
#		location /pages {
#			request_types       GET POST
#		}
#	}
#	server {
#		index                   index.html
#		server_name             localhost
#		listen                  8081
#		root                    www
#		keepalive_timeout		23
#		send_timeout			23
#		max_body_size           100
#		directory_listing       true
#		location / {
#			request_types       GET POST
#		}
#		location /pages {
#			request_types       GET POST
#		}
#	}
#	server {
#		index                   index.html
#		server_name             127.0.0.1
#		listen                  8083
#		root                    www
#		keepalive_timeout		24
#		send_timeout			24
#		max_body_size           100
#		directory_listing       false
#		location / {
#			request_types       GET POST
#		}
#	}
}
