http {
	server_timeout_time       10000
	server {
		index                   index.html
		server_name             localhost
		listen                  8080
		root                    www
		keepalive_timeout		31
		send_timeout			11
		max_body_size           100000000
		directory_listing       true
		location / {
			request_types       GET POST
		}
		location /google {
			request_types       GET
			redirection			www.google.com
		}
		location /uploads {
			request_types       GET POST DELETE
		}
		location /topsecret {
			redirection			https://www.topsecret.pl/
		}
	}
	server {
		index                   index.html
		server_name             127.0.0.1
		listen                  8080
		root                    www
		keepalive_timeout		61
		send_timeout			31
		max_body_size           200
		directory_listing       false
		location / {
			request_types       GET POST
		}
		location /google {
			request_types       GET
			redirection			www.google.com
		}
		location /uploads {
			request_types       GET POST
		}
		location /topsecret {
			redirection			https://www.topsecret.pl/
		}
	}
	server {
		index                   index.html
		server_name             localhost
		listen                  8081
		root                    www
		keepalive_timeout		91
		send_timeout			91
		max_body_size           100000
		directory_listing       true
		location / {
			request_types       GET
		}
		location /google {
			request_types       GET
			redirection			www.google.com
		}
		location /topsecret {
			redirection			https://www.topsecret.pl/
		}
	}
	server {
		index                   better_index.html
		server_name             127.0.0.1
		listen                  8081
		root                    www
		keepalive_timeout		121
		send_timeout			999
		max_body_size           200
		directory_listing       false
		location / {
			request_types       GET
		}
		location /google {
			request_types       GET
			redirection			www.google.com
		}
		location /topsecret {
			redirection			https://www.topsecret.pl/
		}
	}
}
