http {
	server_timeout_time       10000
	keepalive_timeout			30
	server {
		index                   index2.html
		server_name             bitch
		listen                  8082
		root                    www
		max_body_size           100
		directory_listing       true
		location / {
			request_types       GET POST
		}
		location /pages {
			request_types       POST
		}
	}
	server {
		index                   index3.html
		server_name             127.0.0.1
		listen                  8082
		root                    www
		max_body_size           100
		directory_listing       false
		location / {
			request_types       GET POST
		}
		location /pages {
			request_types       POST
		}
	}
	server {
		index                   index.html
		server_name             localhost
		listen                  8083
		root                    www
		max_body_size           100
		directory_listing       true
		location / {
			request_types       GET POST
		}
		location /pages {
			request_types       POST
		}
	}
	server {
		index                   index.html
		server_name             127.0.0.1
		listen                  8083
		root                    www
		max_body_size           100
		directory_listing       false
		location / {
			request_types       GET POST
		}
	}
}
