http {
    server {
        index                   index.html
        server_name             www.example.com
        listen                  8080
        root                    ./some-path
        max_body_size           100
        directory_listing       false
        location / {
            request_types       GET POST
        }
        location /some-path {
            request_types       DELETE
        }
    }
}